.about-me__about {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 600px;
    margin: 0 0 100px;
}

@media screen and (max-width: 1030px) {
    .about-me__about {
        width: 500px;
    }
}

@media screen and (max-width: 900px) {
    .about-me__about {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
        width: 364px;
    }
}

@media screen and (max-width: 520px) {
    .about-me__about {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
        width: 100%;
    }
}