.search__checkbox-short-film-label {
    position: relative;
    display: flex;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media screen and (max-width: 520px) {
    .search__checkbox-short-film-label {
        font-size: 11px;
    }
}