.profile {
    background-color: #202020;
    padding: 74px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 770px) {
    .profile {
        padding-top: 236px;
        padding-bottom: 269px;
    }
}

@media screen and (max-width: 520px) {
    .profile {
        padding: 70px 30px 40px;
    }
}

@import url(./blocks/__container/profile__container.css);
@import url(./blocks/__line/profile__line.css);
@import url(./blocks/__logout-button/profile__logout-button.css);
@import url(./blocks/__edit-button/profile__edit-button.css);
@import url(./blocks/__text/profile__text.css);
@import url(./blocks/__title/profile__title.css);
@import url(./blocks/__user-text/profile__user-text.css);
@import url(./blocks/__form-field/profile__form-field.css);
@import url(./blocks/__form-field/_type/profile__form-field_type_email.css);
@import url(./blocks/__form-field/_type/profile__form-field_type_name.css);
@import url(./blocks/__input/profile__input.css);
@import url(./blocks/__edit-cancel/profile__edit-cancel.css);
@import url(./blocks/__submit-button/profile__submit-button.css);
@import url(./blocks/__submit-form/profile__submit-form.css);
@import url(./blocks/__popup-success/profile__popup-success.css);
@import url(./blocks/__popup-text/profile__popup-text.css);
@import url(./blocks/__popup-close/profile__popup-close.css);
@import url(./blocks/__input-error/profile__input-error.css);