.header__signin-button {
    color: black;
    width: 76px;
    height: 32px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    background-color: #3DDC84;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 520px) {
    .header__signin-button {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}