.about-me__text-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

@media screen and (max-width: 520px) {
    .about-me__text-container {
        margin-right: 0;
    }
}