.movies-list__container {
    display: grid;
    column-gap: 24px;
    gap: 37px;
    grid-template-columns: repeat(auto-fit, 364px);
    justify-content: center;
}

@media screen and (max-width: 770px) {
    .movies-list__container {
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 339px);
    }
}

@media screen and (max-width: 520px) {
    .movies-list__container {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, 300px);
    }
}