.portfolio__item {
    height: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid #424242;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

@media screen and (max-width: 520px) {
    .portfolio__item {
        height: 48px;
    }
}