.about-me {
    background-color: #202020;
    color: white;
    padding: 110px 70px 100px;
    box-sizing: border-box;
}

@media screen and (max-width: 770px) {
    .about-me {
        padding: 90px 50px;
    }
}


@media screen and (max-width: 520px) {
    @media screen and (max-width: 770px) {
        .about-me {
            padding: 70px 14px;
        }
    }
}

@import url(./blocks/__about/about-me__about.css);
@import url(./blocks/__container/about-me__container.css);
@import url(./blocks/__description/about-me__description.css);
@import url(./blocks/__github-link/about-me__github-link.css);
@import url(./blocks/__line/about-me__line.css);
@import url(./blocks/__name/about-me__name.css);
@import url(./blocks/__photo/about-me__photo.css);
@import url(./blocks/__title/about-me__title.css);