.about-me__description {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 0 0 26px;
}

@media screen and (max-width: 770px) {
    .about-me__description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 520px) {
    .about-me__description {
        font-size: 11px;
        line-height: 16px;
    }
}